[Desktop Entry]
Type=Application
Name=SonyDb GUI
Comment=Transfer music to legacy Sony Walkman players
Exec=sonydb-gui
Icon=sonydb-gui
Terminal=false
Categories=AudioVideo;Audio;Utility;
